.title {
margin-top: 3em;
text-align: center;
}

.nav {
text-align: center;
}

.nav button {
margin-top: 2em;
}

.input {
margin: 0 4em 0 1em;
}

textarea {
    height: auto;

}

.input ul {
    margin-left: 25%;
    margin-bottom: 1em;
}

#wrapper {
    text-align: center;
    width: 100%;
}



#wrapper form {
    display: inline;
}


.centered {
text-align: center;
}

footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 100px;
background-color: white;  
text-align: center;
}

.footer-buttons {
display: flex;
justify-content: space-between;
}



#loader {
position: fixed;
left: 50%;
top: 50%;
z-index: 1;
width: 100%;
height: 100%;
margin: -75px 0 0 -75px;
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #3498db;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#scrollpanel {
width: 75%;
height: 45vh;
margin: 0 auto;
border: 1px solid black;
}

#buttons button, form {
display: inline-block;
margin-top: 10vh;
}


#wrap,#title,#wrapper {
    text-align: left;
    margin-left: 1.5vw;
}
#input-buttons {
    
}
button {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 2px solid black;
    background-color: #BEBEBE;
    color: black;
    padding: 14px 28px;
    
    cursor: pointer;

    z-index: 18;
    white-space: nowrap;
    font-size: 20px;
    line-height: 14px;
    font-weight: 900;
    color: rgb(75, 75, 75);
    font-family: Roboto;
    text-transform: uppercase;
    
    border-radius: 30px;
    outline: none;
    box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
    box-sizing: border-box;
    border-color: white;


    letter-spacing: 0px;
    cursor: pointer;
    visibility: inherit;
    transition: none;
    text-align: inherit;
    margin: 0px;
    padding: 18px 54px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
   
}

/* admin.html footer css. MOdfied userfeedback button because it is the one on the most left and all i needed was the margin to move over a little bit */
#userfeedback {
   /* border-radius: 25px;
    padding: 10px;
    width: 16vw;
    display: inline-block;*/
/*    height: 5vw;*/
    text-align: center;
    /*margin-left: 25vw;
*/}
#back {
    margin-left:11.5vw;
}
/*index.html css for the descriptions*/
#description {
    margin-left: 20vw;
    margin-right: 20vw;
}

#userFeedBack {
    display: inline-block;
}

#buttonsresultpage {
    margin: 0 auto;
}

#result {
text-align: center;
margin: 0 auto;
}



#input-buttons button, form {
display: inline-block;
margin: 10px;
}


#resultIcon {
    text-align: center;
}

#icongridResult {
    margin: 0 auto;
    width: 75vw; 
    height:70vh; 
    overflow:auto;
    border: 1px solid black;
}
#resolve {
    margin-left:54vw;
}
#icongrid {
margin: 0 auto;
width: 75vw; 
height:60vh; 
overflow:auto;
border: 1px solid black;
font-size: 40px;
}


td {
width: 50vw;
height: 35vh;
text-align: center;
border-top:1px solid black;
border-bottom:1px solid black;
font-size: 20px;
}

#footer {
width: 90%;
margin-left: 2em;
margin-bottom: 2em;
opacity: 1; 
background-color: rgba(0,0,0,0.6);
}

#feedback {
text-align: right;
}
#addIcon {
text-align:right;
}
.ui-dialog-titlebar-close {
    display: none;
}

/* Template code */
body {
font-family: "Work Sans",sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.7;
color: #777777;
color: #7f7f7f;
background: #fff;
height: 100%;
position: relative;
padding-bottom: 50px;
font-family: "Work Sans",sans-serif;
font-size: 20px;
line-height: 1.875em;
letter-spacing: 0;
color: #7e8890;
overflow-x: hidden!important;
-webkit-font-smoothing: antialiased;

}

/*result icon page results*/
#resultIconGrid {
    width: 100%;
    table-layout: auto;
}

#iconEdit {
border-radius: 25px;
border: 2px solid #ADD8E6;
padding: 20px;
width: 150px;
height: 75px; 
text-align: center
}

a {
color: #52d3aa;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}

a:hover, a:active, a:focus {
color: #52d3aa;
outline: none;
text-decoration: none;
}
#pic {
    width:20vw;
    text-align: center;
}
#results {
    width: 80vw;
}
#imageDescription {
    margin: auto;
    text-align: center;
}
p {
margin-bottom: 1.5em;
margin-left: 25vw;
margin-right: 25vw; 
text-align: center;
  /*  display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
}

h7 {
text-decoration: center;
padding:0;
color: #000;
font-family: "Work Sans",sans-serif;
font-weight: 300;
font-size:30px;
}

h1, h2, h3, h4, h5, h6 {
color: #000;
font-family: "Work Sans",sans-serif;
font-weight: 300;
margin: center;
font-size:50px;
text-align:center;
margin-top:2vh;

}




