<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>REUL Lab Iconographic Tool</title>
	

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	

	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- jQuery UI style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.css') }}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
	<![endif]-->

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery UI -->
	<script src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar -->
	<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{{ url_for('static', filename='js/google_map.js') }}"></script>

	<!-- MAIN JS -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>


	<!-- ReportComboBox JS -->
	<script src="{{ url_for('static', filename='js/adminedit.js') }}"></script>


    <script>
	

	</script>

    


	</head>

    <body>
        <h1 class="title">Admin Portal</h1>
		<div class="icongrid">
			<table>
				<tr>
					
					<td id="icon1">
						<img src="https://REUL-Lab.github.io/iconographic/images/billing.PNG" alt="billing">
					</td>
					<td id = "icon1Description">
						<h7>Description</h7>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					</td>
					<td id = "edit1">
						<button id="iconEdit" onclick="editIcon()"><center>Edit</center></button>
					</td>
				</tr>
				<tr>
					
					<td id="icon2">
						<img src="https://REUL-Lab.github.io/iconographic/images/gagWrap.PNG" alt="gagWrap">
					</td>
					<td id = "icon2Description">
						<h7>Description</h7>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					</td>
					<td id = "edit2">
						<button id="iconEdit" onclick="editIcon()">Edit</button>
					</td>
				</tr>
				<tr>
					
					<td id="icon3">
						<img src="https://REUL-Lab.github.io/iconographic/images/restrictions.PNG" alt="restrictions">
					</td>
					<td id = "icon3Description">
						<h7>Description</h7>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					</td>
					<td id = "edit3">
						<button id="iconEdit" onclick="editIcon()">Edit</button>
					</td>
				</tr>
				<tr>
					
					<td id="icon4">
						<img src="https://REUL-Lab.github.io/iconographic/images/termination.PNG" alt="terminations">
					</td>
					<td id = "icon4Description">
						<h7>Description</h7>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					</td>
					<td id = "edit4">
						<button id="iconEdit" onclick="editIcon()">Edit</button>
					</td>
				</tr>
				<tr>
					
					<td id="icon5">
						<img src="https://REUL-Lab.github.io/iconographic/images/unexpected.PNG" alt="unexpected">
					</td>
					<td id = "icon5Description">
						<h7>Description</h7>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					</td>
					<td id = "edit5">
						<button id="iconEdit" onclick="editIcon()">Edit</button>
					</td>
				</tr>		
			</table>
		</div>
		<div id="editbox"></div>
		<footer>
			<form action = "userFeedback">
				<button id = "userfeedback">See User Feedback
				</button>
			</form>
			<form action="login">
				<button id ="logout">Logout</button>
			</form>
			<form action="/">
				<button id = "logouthome">Logout to Home</button>
			</form>
		</footer>
    </body>


    
    
</html>