<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- jQuery UI style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.css') }}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
	<![endif]-->

	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery UI -->
	<script src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar -->
	<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>

	<!-- MAIN JS -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>
		$(document).ready(function(){	
			if (!firebase.apps.length) {
				var config = {
					apiKey: "AIzaSyBNeqANlaGZOcRX0aT_i1YfDbiCpTgfHqI",
					authDomain: "flickering-fire-3792.firebaseapp.com",
					databaseURL: "https://flickering-fire-3792.firebaseio.com",
					projectId: "flickering-fire-3792",
					storageBucket: "flickering-fire-3792.appspot.com",
					messagingSenderId: "189921954509"
				};
				firebase.initializeApp(config);
			}		
			if (firebase.auth().currentUser) {
				window.location.replace("/admin");
			}
		});
		function login() {
			var username = $("#username").val();
			var password = $("#password").val();
			firebase.auth().signInWithEmailAndPassword(username, password).then(function(firebaseUser) {
				window.location.href = '/admin';
			}).catch(function(error){
				alert(error);
			});
		}

    </script>
    


	</head>

    <body>
        <h1 class="title">Admin Login</h1>
            <div id="inputs" class="centered">
				<label><b>Username:</b></label>
				<input type="text" placeholder="Enter Username" id="username">
				<br><br>
				<label><b>Password:</b></label>
				<input type="password" placeholder="Enter Password" id="password">
				<br><br>
				<div id="input-buttons">
					<button onclick="window.location.href='/'">Back</button>
					<button onclick="login()">Submit</button>
				</div>
            </div>
    </body>


    
    
</html>