
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>REUL Lab Iconographic Tool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>


	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- jQuery UI style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.css') }}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
	<![endif]-->

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery UI -->
	<script src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar -->
	<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>


	<!-- MAIN JS -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<script>
		$( function() {
			$( "#tabs" ).tabs();
		} );
	</script>

	<body>
		<h1><font size="48">The following EULAs are frequently analyzed:</font></h1>
		<div id="tabs">
			<ul>
			  <li><a href="#reddit_popular">Reddit</a></li>
			  <li><a href="#github_popular">Github</a></li>
			</ul>
			<br><br>
			<div id="reddit_popular">
				<table style="width:100%">
					<tr>
					<th width="30%" class="centered"><font size="18">Icon Label</font></th>
					<th width="70%" class="centered"><font size="18">EULA Text</font></th> 
					</tr>
					<tr>
					<td>Embedded Policies</td>
					<td>We also operate redditgifts and redditmade. Those sites have their own terms that you should read here and here.</td> 
					</tr>
					<tr>
					<td>Embedded Policies</td>
					<td>Please take a look at reddit’s privacy policy too—it explains how we collect and use your information.</td> 
					</tr>
					<tr>
					<td>Forced Termination, Use of UGC after Termination</td>
					<td>Without advance notice and at any time, we may, for violations of this agreement or for any other reason we choose: (1) suspend your access to reddit, (2) suspend or terminate Your Account or reddit gold membership, and/or (3) remove any of your User Content from reddit.</td> 
					</tr>
					<tr>
					<td>Wild Card</td>
					<td>We reserve the right to monitor reddit, and your use of the Service means you agree to such monitoring. At the same time, we do not guarantee we will monitor at all.
					</td> 
					</tr>
					<tr>
					<td>Indemnity</td>
					<td>We are not responsible for any decisions you make based on something you read on reddit.
					</td> 
					</tr>
					<tr>
					<td>Indemnity</td>
					<td>reddit is not a party to, nor in any way responsible for, any transactions you have with these third parties, even if reddit has an affiliate relationship with such parties. For this reason, any transactions you undertake are your responsibility alone, so be careful.
					</td> 
					</tr>
					<tr>
					<td>Recurring Charges</td>
					<td>You may also join our premium membership program, reddit gold, by paying a monthly or annual fee, or if someone gifts you a membership.</td> 
					</tr>
					<tr>
					<td>Embedded Policies</td>
					<td>reddit gold does not confer any benefits other than those listed here</td> 
					</tr>
					<tr>
					<td>Recurring Charges</td>
					<td>If you submit your Payment Information, you agree to pay all costs that you incur, and you give us permission to charge you when payment is due for an amount that includes any applicable taxes, fees, and charges to reddit or one of our service providers.</td> 
					</tr>
					<tr>
					<td>Embedded Policies</td>
					<td>If you are interested in licensing reddit content, learn more by reading our licensing page and contact us at licensing@reddit.com.</td> 
					</tr>
					<tr>
					<td>Repurpose UGC</td>
					<td>By submitting user content to reddit, you grant us a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to authorize others to do so.</td> 
					</tr>
					<tr>
					<td>Embedded Policies</td>
					<td>Please take a look at reddit’s privacy policy for an explanation of how we may use or share information submitted by you or collected from you.</td> 
					</tr>
					<tr>
					<td>Indemnity </td>
					<td>We take no responsibility for, we do not expressly or implicitly endorse, and we do not assume any liability for any user content submitted by you to reddit.</td> 
					</tr>
					<tr>
					<td>Embedded Policies </td>
					<td>You also agree to follow the Reddit Content Policy.</td> 
					</tr>
					<tr>
					<td>Indemnity </td>
					<td>You agree that reddit is not responsible for the actions taken or not taken by moderators.</td> 
					</tr>
					<tr>
					<td>Embedded Policies </td>
					<td>For guidance, see our rules about spam and self-promotion.</td> 
					</tr>
					<tr>
					<td>Embedded Policies </td>
					<td>Use of the reddit API is governed by the API access rules, available here.</td> 
					</tr>
					<tr>
					<td>Removal of UGC</td>
					<td>We will respond to legitimate requests under the Digital Millennium Copyright Act ("DMCA"), and we retain the right to remove user content on reddit that we deem to be infringing the copyright of others.</td> 
					</tr>
					<tr>
					<td>Forced Termination</td>
					<td>It is reddit's policy to close the accounts of users we identify as repeat infringers. We apply this policy at our discretion and in appropriate circumstances, such as when a user has repeatedly been charged with infringing the copyrights or other intellectual property rights of others.</td> 
					</tr>
					<tr>
					<td>Indemnity</td>
					<td>All the things you do and all the information you submit or post to reddit remain your responsibility. Indemnity is basically a way of saying that you will not hold us legally liable for any of your user content or actions that infringe the law or the rights of a third party or person in any way. Specifically, you agree to hold reddit, its affiliates, officers, directors, employees, agents, and third party service providers harmless from and defend them against any claims, costs, damages, losses, expenses, and any other liabilities, including attorneys’ fees and costs, arising out of or related to your access to or use of reddit, your violation of this user agreement, and/or your violation of the rights of any third party or person.
					</td> 
					</tr>
					<tr>
					<td>Wild Card</td>
					<td>You are solely responsible for any damage to your computer or mobile device, loss of use, or loss of your user content. We do not guarantee that reddit will always work properly.
					</td> 
					</tr>
					<tr>
					<td>Notice of EULA Changes</td>
					<td>This user agreement is the entire agreement between you and us concerning reddit. It supersedes all prior or contemporaneous agreements between you and us. We may modify this user agreement at any time. If we make changes to this agreement that materially affect your rights, we will provide advance notice and keep this edition available as an archive on the reddit website. By continuing to use reddit after a change to this agreement, you agree to those changes.
					</td> 
					</tr>
				</table>
			</div>
			<div id="github_popular">
					<table style="width:100%">
						<tr>
						<th width="30%" class="centered"><font size="18">Icon Label</font></th>
						<th width="70%" class="centered"><font size="18">EULA Text</font></th> 
						</tr>
						<tr>
						<td>Embedded Policies</td>
						<td>Every external link in the article and “B.4 Additional Terms”</td> 
						</tr>
						<tr>
						<td>Forced Termination (Code of Conduct)</td>
						<td>All of “C.3 Conduct Restrictions” section</td> 
						</tr>
						<tr>
						<td>Recurring charges</td>
						<td>For monthly or yearly payment plans, the Service is billed in advance on a monthly or yearly basis respectively and is non-refundable. There will be no refunds or credits for partial months of service, downgrade refunds, or refunds for months unused with an open account; however, the service will remain active for the length of the paid billing period. In order to treat everyone equally, no exceptions will be made.</td> 
						</tr>
						<tr>
						<td>Data Retention after termination</td>
						<td>We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements, but barring legal requirements, we will delete your full profile and the Content of your repositories within 90 days of cancellation or termination (though some information may remain in encrypted backups). This information can not be recovered once your account is cancelled.</td> 
						</tr>
						<tr>
						<td>Data Retention after termination</td>
						<td>We will not delete Content that you have contributed to other Users' repositories or that other Users have forked.
						</td> 
						</tr>
						<tr>
						<td>Own UGC</td>
						<td>You retain ownership of and responsibility for Content you create or own ("Your Content"). If you're posting anything you did not create yourself or do not own the rights to, you agree that you are responsible for any Content you post; that you will only submit Content that you have the right to post; and that you will fully comply with any third party licenses relating to Content you post.
						</td> 
						</tr>
						<tr>
						<td>Wild Card</td>
						<td>You are responsible for all content posted and activity that occurs under your account (even when content is posted by others who have accounts under your account).
						</td> 
						</tr>
						<tr>
						<td>Notice of EULA changes</td>
						<td>We reserve the right, at our sole discretion, to amend these Terms of Service at any time and will update these Terms of Service in the event of any such amendments. We will notify our Users of material changes to this Agreement, such as price changes, at least 30 days prior to the change taking effect by posting a notice on our Website. For non-material modifications, your continued use of the Website constitutes agreement to our revisions of these Terms of Service.
			We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Website (or any part of it) with or without notice.</td> 
						</tr>
						<tr>
						<td>Indemnity Clause</td>
						<td>All of Section “Q: Release and Indemnification“</td> 
						</tr>
						<tr>
						<td>User’s Ability to Transfer Product</td>
						<td>Your login may only be used by one person — i.e., a single login may not be shared by multiple people. A paid organization account may create separate logins for as many users as its subscription allows.</td> 
						</tr>
						<tr>
						<td>Termination conditions</td>
						<td>GitHub has the right to suspend or terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. GitHub reserves the right to refuse service to anyone for any reason at any time.</td> 
						</tr>
						<tr>
						<td>Third Party Data Share</td>
						<td>If we have reason to believe the contents of a private repository are in violation of the law or of these Terms, we have the right to access, review, and remove them. Additionally, we may be compelled by law to disclose the contents of your private repositories.</td> 
						</tr>
					</table>
				</div>
		</div>
		
		
		
		
		<footer>
			<div id = "wrap" style="text-align:center">
				<form action="/"><button id="backbutton">Back</button></form>
			</div>
		</footer>
	</body>
</html>		